%h4 Home
= render 'books/filter_form'
= render 'books/book_list', books: @books
- if user_signed_in?
  .fixed-action-btn
    = link_to(new_book_path, class: 'btn-floating btn-large waves-effect waves-light teal', 
              data: { turbo_frame: :modal }) do
      %i.material-icons add
