.container { 
    padding-bottom: 30px;
}

.mx-5 { 
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.btn-logout {
    border: none;
    background: none;
    color: white;
    height: 50px;
    cursor: pointer;
}

form.button_to {
    display: inline-block;
}

